{{#partial "contenido"}}
        <div class="form-container">
            <h1> Crear Coleccion </h1>
            <form class="hecho-form" action="/colecciones" method="post">
                <label>Título:</label>
                <input type="text" name="titulo" placeholder="Ingrese un titulo" required><br>

                <label>Descripción:</label>
                <textarea name="descripcion" placeholder="Ingrese una descripción" required></textarea><br>

                <label>Tipo de fuente</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="tipoFuente" value="estatica-incendios" checked required>
                            <span class="dot"></span> Estática (Incendios)
                        </label>
                        <label>
                            <input type="radio" name="tipoFuente" value="dinamica">
                            <span class="dot"></span> Dinámica
                        </label>
                        <label>
                            <input type="radio" name="tipoFuente" value="estatica-victimas" required>
                            <span class="dot"></span> Estática (victimas)
                        </label>
                        <label>
                            <input type="radio" name="tipoFuente" value="metamapa">
                            <span class="dot"></span> Metamapa
                        </label>
                    </div>
                <hr><br>
                <label>Categoria (opcional)</label>
                <input type="text" name="categoria" placeholder="Ej: Incendio forestal..">

                <label for="fechaInicio">Fecha desde:</label>
                <input type="date" id="fechaInicio" name="fechaDesde">

                <label for="fechaFin">Fecha hasta:</label>
                <input type="date" id="fechaFin" name="fechaHasta">
                <hr><br>
                <label>Algoritmo de consenso</label>
                <select name="algoritmoConsenso">
                    {{#each algoritmosConsenso}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>

                <div class="form-acciones">
                    <button type="submit">Crear colección</button>
                    <button type="button" class="eliminar-solicitud-btn" onclick="window.location.href='/colecciones'">❌ Cancelar</button>
                </div>
            </form>
        </div>
    {{/partial}}

{{>templates/layout-administrador}}