{{#partial "contenido"}}
    <h1> Bienvenido a MetaMapa </h1>
    <div class="mapa-container">
        <div id="map" class="mapa"></div>
        <script>
            var map = L.map('map').setView([-34.60, -58.38], 11);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19
            }).addTo(map);

            var hechos = [
            {{#each hechos}}
                { lat: {{latitud}}, lon: {{longitud}}, titulo: "{{titulo}}" }{{#unless @last}},{{/unless}}
            {{/each}}
            ];

            hechos.forEach(h => {
              L.marker([h.lat, h.lon]).addTo(map).bindPopup(h.titulo);
            });
        </script>
    </div>

{{/partial}}

{{>templates/layout}}