{{#partial "contenido"}}
    <h1> Bienvenido, {{usuarioActual.nombre}}! </h1>
      <p> Accediste como <strong>{{usuarioActual.tipoUsuario}}</strong>. </p>
{{/partial}}

{{>templates/layout-administrador}}