{{#partial "contenido"}}
  <div class="login-page">
    <div class="login-container">
        <h1>Iniciar Sesión</h1>

        <form action="/usuario/login" method="post">
            <label for="email">Correo electrónico</label>
            <input type="text" name="email" id="email" required>

            <label for="password">Contraseña</label>
            <input type="password" name="contrasena" id="password" required>

            <button type="submit">Ingresar</button>
             {{#if error}}
                      <div class="alert alert-danger">
                        {{error}}
                      </div>
                      {{/if}}
        </form>

        <p>¿No tienes cuenta? <a href="/usuario/formRegistro">Regístrate</a></p>
    </div>
  </div>
{{/partial}}

{{> templates/layout }}