<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaMapa</title>
    <link rel="stylesheet" href="/assets/registro.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
  <div class="container">
      <h1>Iniciar Sesión</h1>

      <form action="/usuario/login" method="post">
          <label for="email">Correo electrónico</label>
          <input type="text" name="email" id="email" required>

          <label for="password">Contraseña</label>
          <input type="password" name="contrasena" id="password" required>

          <button type="submit">Ingresar</button>
      </form>

      <p>¿No tienes cuenta? <a href="/usuario/formRegistro">Regístrate</a></p>
  </div>
</body>
</html>