<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaMapa</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="logo">
            <a href="/">MetaMapa</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="/hechos/nuevo">Crear hecho</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    {{#block "contenido"}}
    {{/block}}
</div>
</body>
</html>