<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaMapa</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/hechos.css">
    <link rel="stylesheet" href="/assets/iniciarSesion.css">
    <link rel="stylesheet" href="/assets/hecho-editar.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script><link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="logo">
            <a href="/">MetaMapa</a>
        </div>
        <form class="search-form" action="/hechos" method="get">
            <input type="search" class="search-bar" name="query" placeholder="Buscar..." required>
            <button type="submit">🔍</button>
        </form>
        <ul class="navbar-menu">
            {{#if usuarioActual}}
            <li><a href="/hechos/nuevo">Crear hecho</a></li>
                 <li><a href="/usuario/{{usuarioActual.id}}/hechos">Ver mis Hechos</a></li>
                  {{else}}
                  <li><a href="/hechos/nuevo">Crear hecho</a></li>
             {{/if}}


            <li class="dropdown">
                <a href="#">Perfil</a>
                <ul class="dropdown-menu">
                    {{#if usuarioActual}}
                        <li><a href="/usuario/logout">Cerrar sesión</a></li>
                    {{else}}
                        <li><a href="/usuario/formIniciarSesion">Iniciar sesión</a></li>
                        <li><a href="/usuario/formRegistro">Registrarse</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="render-container">
    {{#block "contenido"}}
    {{/block}}
</div>
</body>
</html>