{{#partial "contenido"}}
<div class="form-container">
    <h1> Solicitar Eliminación del Hecho #{{id}} </h1>

    <form action="/solicitud/{{id}}" method="post">
        <div>
            <label>Motivo</label>
            <textarea name="descripcion" required></textarea>
        </div>
        <button type="submit">Enviar solicitud</button>
    </form>

<a href="/usuario/{{id}}/hechos">← Volver</a>
{{/partial}}

{{> templates/layout }}