/* Contenedor del formulario */
.form-editar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-editar label {
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
}

.form-editar input,
.form-editar textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s ease;
}

.form-editar textarea {
    min-height: 100px;
}

.form-editar input,
.form-editar textarea,
.form-editar button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.editar-hecho-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

/* Botón de guardar */
.form-editar button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
}

.form-editar button:hover {
    background-color: #217dbb;
}

/* Título del formulario */
.form-titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}