.hecho-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.hecho-card button {
    background-color: #ff6666;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hecho-card button:hover {
    background-color: #cc0000;
}