*{
  padding :0;
  margin:0;
  border-box:size;
}
.navbar {
    background-color: #6699ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px ;
    transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
    background-color: #3366cc;
    border-radius: 5px;
}