*{
  padding :0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
    background-color: #6699ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.navbar .logo a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px ;
    transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
    background-color: #3366cc;
    border-radius: 5px;
}

.navbar-menu .dropdown {
  position: relative;
}

.navbar-menu .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f4f4f4;
  min-width: 80px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.navbar-menu .dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #6699ff;
  font-size: 15px;
  text-decoration: none;
}

.navbar-menu .dropdown-menu li a:hover {
  background-color: #3366cc;
  color: #f4f4f4;
}

.navbar-menu .dropdown:hover .dropdown-menu {
  display: block;
}

body {
    margin: 0;
}
.render-container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Forms*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    width: 100%;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .file-input-wrapper {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
}


.form-container .file-input-wrapper input[type="file"] {
  display: none;
}

.form-container input[type="file"]::file-selector-button {
  padding: 5px 10px;
  background-color: #6699ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #6699ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #3366cc;
}

.solicitud-eliminacion-form button {
    background-color: #fc3728
}

.solicitud-eliminacion-form button:hover {
    background-color: #fa7166
}

/*Mapa*/
.mapa {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
}

.mapa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 1000px;
}
.mapa-container h1 {
    margin-bottom: 20px;
    text-align: center;
}