/* Reset básico */
:root {
  --primary: #6699ff;
  --primary-hover: #4d88ff;
  --secondary: #f4f4f4;
  --secondary-hover: #e5e5e5;
  --black: #333;
  --red: #fc3728;
  --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor del formulario */
.container {
    background-color: var(--white);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

/* Título */
h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* Etiquetas y inputs */
label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botón */
button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-hover);
}

/* Mensajes de error */
p.error {
    color: var(--red);
    margin-bottom: 15px;
    text-align: center;
}

/* Link a login */
p a {
    margin: 2px;
    color: var(--primary);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
